body {
    margin: 0;
}
.container {
    border: 6px solid rgb(240, 102, 102);
    display: flex;
    height: 800px;
    /* flex-direction: column; */
    /* flex-direction: row | row-reverse | column | column-reverse  */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap | wrap | wrap-reverse */
    /* flex-flow: row nowrap; */
    /* justify-content: flex-start; */
    /* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;     */
    align-items: stretch;
    /* align-items: stretch | flex-start | flex-end | center | baseline */
}
.flexible-item {
    color: rgb(22, 1, 1);
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1 {
    background-color: #daeb29;
}
.item-2 {
    background-color: #ec8f52;
}
.item-3 {
    background-color: #45cce7;
}
.item-4 {
    background-color: #e9d5ad;
}
.item-5 {
    background-color: #f55a52;
}
.item-6 {
    background-color: #5597ec;
}
.item-7 {
    background-color: #5ec7f8;
}
.item-8 {
    background-color: #5d46dd;
}
.item-9 {
    background-color: #f88090;
}
.item-10{
    background-color:#f56db8
}